<% provide(:title, 'About Us') %>


<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag "slide-01.jpg" %>
          <div class="container">
            <div class="carousel-caption">
              <h1>About <%= @company_name %></h1>
              <p class="lead">“The way to get started is to quit talking and begin doing. ” ― Walt Disney Company</p>
              <a class="btn btn-large btn-primary" href="#">Apply Today!</a>
            </div>
          </div>
        </div>

      </div>
     
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>What We Do</h2>
          <p>Seven Nation Solutions is a marketing firm that specializes in marketing programs for our clients’ products and services. The client base for Seven Nation Solutions has expanded to leaders in Satellite Television and Consumer Electronics. With the unveiling of our solidified and effective marketing program in the prestigious city of Houston, TX, Seven Nation Solutions has developed an undeniably powerful presence in some of the world’s largest chain retailers in a short amount time.</p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Seven Nation Values</h2>
          <p>Fundamental values have been solidified into our business culture through various different backgrounds and experience from the founders of our business.  These experiences come from several distinctive backgrounds of Sports Management, Military Background, Coaching, Personal Training, Business Management, Entrepreneurs, Accountants, Financial Advisers, and several other respective fields which we are proud to say make up the potent values of our company. These values have been implemented and structured into a Business/Management Development Program that has built and shaped our company to the prestigious and opportunistic company that it is today.</p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>The Future</h2>
          <p>By taking advantage of Seven Nation Solutions Business/Management training and opportunities for professional development, even those with limited work experience can build personal and professional skills that will last a lifetime. The future is bright and consistent at Seven Nation Solutions for individuals who are team players, creative thinkers and self starters who are goal and detail-oriented and have an affinity for working with people. Most openings require no experience and are considered entry level.</p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-chrome.png">
        <h2 class="featurette-heading">The Industry Scope of our Clients… </h2>
        <h3><span class="muted">The Client’s Role</span></h3>
        <p class="lead">Our Success is attributed to our clients. Our strong client base allows us to create a substantial opportunity for individuals willing to work hard to reach their goals.</p>
        <%= link_to "Click here to learn more", "#" %>
      </div>



      <!-- /END THE FEATURETTES -->


     <%= render "footer" %>



