<% provide(:title, 'Home') %>
<html>
	<head>
		<title>Wave Vision Marketing | <%= yield(:title) %></title>
	</head>

	<body>
		<h1>Wave Vision Marketing</h1>
		
		<p>This is the home page for  <a href = "http://www.wavevisonmarketing.com"> Wave Vision Marketing </a></p>
	</body>
</html>



